@use "../helpers/vars" as *;
@use "../bootstrap/vendor/rfs" as *;
@use "../helpers/mixins" as *;
.custom-upload__button {
  cursor: pointer;
}
.custom-upload__input {
  height: 0;
  left: -10000px;
  position: absolute;
}
