@use "../helpers/vars" as *;
@use "../bootstrap/vendor/rfs" as *;
@use "../helpers/mixins" as *;

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: rgba(43, 0, 255, 0.1);
  padding: 5px;
  opacity: 1;
  transition: all .3s ease-in-out;
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $c_primary !important;
  border-color: $c_primary !important;
  width: 24px !important;
  border-radius: 10px;
}
