.bookmarks .jobs-boxes .job-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  max-height: 100%;
  padding: 1.25rem;
}
.bookmarks .jobs-boxes .job-box .job-provider {
  width: 10%;
}
.bookmarks .jobs-boxes .job-box .job-provider img {
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
  border: 1px solid #2923ff;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.bookmarks .jobs-boxes .job-box .job-info {
  width: 75%;
}
.bookmarks .jobs-boxes .job-box .job-info .job-place {
  font-size: 1rem;
  font-family: light;
  line-height: 10px;
}
.bookmarks .jobs-boxes .job-box .job-info .position {
  font-size: calc(1.2625rem + 0.15vw);
  line-height: 30px;
}
@media (min-width: 1200px) {
  .bookmarks .jobs-boxes .job-box .job-info .position {
    font-size: 1.375rem;
  }
}
.bookmarks .jobs-boxes .job-box .job-info .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.bookmarks .jobs-boxes .job-box .job-info .icons .icon-box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.bookmarks .jobs-boxes .job-box .job-info .icons .icon-box img {
  margin-bottom: 5px;
}
.bookmarks .jobs-boxes .job-box .job-info .icons span span {
  display: block;
}
.bookmarks .jobs-boxes .job-box .job-actions {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bookmarks .jobs-boxes .job-box .job-actions .button {
  position: relative;
  background-color: #f5f5ff;
  border-color: #f5f5ff;
  color: #2923ff;
}
.bookmarks .jobs-boxes .job-box .job-actions .favorite-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #2923ff;
  border-radius: 5px;
  cursor: pointer;
}
.bookmarks .jobs-boxes .job-box .job-actions .favorite-box svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.bookmarks .jobs-boxes .job-box .job-actions .favorite-box:hover {
  background-color: #2923ff;
}
.bookmarks .jobs-boxes .job-box .job-actions .favorite-box:hover svg path {
  fill: #fff;
  stroke: #fff;
}
.bookmarks .jobs-boxes .job-box:hover {
  background-color: #f5f5ff;
  border-color: #f5f5ff;
}
.bookmarks .jobs-boxes .job-box:hover .job-provider img {
  border-color: #9f9f9f;
}
.bookmarks .jobs-boxes .job-box:hover .button {
  background-color: #2923ff;
  border-color: #2923ff;
  color: #fff;
}
.bookmarks .jobs-boxes .job-box.favorited svg path {
  fill: #2923ff;
}
@media (max-width: 991px) {
  .bookmarks .jobs-boxes .job-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 20px;
  }
  .bookmarks .jobs-boxes .job-box .job-provider {
    width: 20%;
  }
  .bookmarks .jobs-boxes .job-box .job-info {
    width: 75%;
  }
  .bookmarks .jobs-boxes .job-box .job-actions {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .bookmarks .jobs-boxes .job-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 30px;
  }
  .bookmarks .jobs-boxes .job-box .job-provider,
.bookmarks .jobs-boxes .job-box .job-info,
.bookmarks .jobs-boxes .job-box .job-actions,
.bookmarks .jobs-boxes .job-box .icon-box {
    width: 100%;
  }
  .bookmarks .jobs-boxes .job-box .icons {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    row-gap: 10px;
    -webkit-column-gap: 10px !important;
       -moz-column-gap: 10px !important;
            column-gap: 10px !important;
    text-align: left;
  }
  .bookmarks .jobs-boxes .job-box .job-actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .bookmarks .jobs-boxes .job-box .job-actions {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .bookmarks .job-box {
    position: relative;
  }
  .bookmarks .icons {
    margin: calc(1.3125rem + 0.75vw) 0;
    -webkit-column-gap: 0 !important;
       -moz-column-gap: 0 !important;
            column-gap: 0 !important;
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 20px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .bookmarks .icons > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .bookmarks .icons > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .bookmarks .icons > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .bookmarks .icons > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media (max-width: 768px) and (min-width: 1200px) {
  .bookmarks .icons {
    margin: 1.875rem 0;
  }
}
@media (max-width: 768px) {
  .bookmarks .job-actions {
    width: 100%;
  }
  .bookmarks .job-actions .button {
    width: 100%;
  }
  .bookmarks .job-actions .favorite-box {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none !important;
    background-color: transparent;
  }
  .bookmarks .job-actions .favorite-box:hover {
    background-color: transparent !important;
  }
  .bookmarks .job-actions .favorite-box:hover svg path {
    stroke: #2923ff !important;
    fill: #2923ff !important;
  }
}