@use "../helpers/vars" as *;
@use "../bootstrap/vendor/rfs" as *;
@use "../helpers/mixins" as *;

.jobs-boxes {
  row-gap: 20px;
  .job-box {
    position: relative;
    @include padding(40px);
    border: 1px solid $c_primary;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: #f5f5ff;
      border-color: #f5f5ff;
      @include padding-bottom(150px);
      @include media ($lg) {
        @include padding-bottom(200px);
      }
      @include media ($sm) {
        @include padding-bottom(270px);
      }
      .more-details {
        opacity: 1;
        visibility: visible;
        transition-delay: .3s;
      }
    }
    .row {
      row-gap: 10px;
    }
    &.featured .featured-icon {
      position: absolute;
      top: -1px;
      right: 24px;
      img {
        width: 25.59px;
      }
    }
    .job-place {
      @include font-size(14px);
      font-family: light;
      line-height: normal;
    }
    .position {
      @include font-size(20px);
      line-height: 30px;
    }
    .icon-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 10px;
      width: 25%;
      img {
        width: 20px;
        margin-bottom: 5px;
      }
      span span {
        color: $c_heading;
        display: block;
      }
    }
    .more-details {
      @include margin-top(50px);
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      @include media ($md) {
        bottom: 30px;
      }
    }
  }
  .favorite-box {
    &.active {
      svg path {
        fill: $c_primary;
        stroke: $c_primary;
      }
    }
  }
}
