@use "../helpers/vars" as *;
@use "../bootstrap/vendor/rfs" as *;

.button,
.custom-upload__button:not(.upload-logo) {
  background-color: $c_primary;
  border: 2px solid $c_primary;
  border-radius: 5px;
  @include padding( 12px 30px);
  @include font-size(16px);
  line-height: 34px;
  color: #fff;
  transition: all .3s ease-in-out;
  display: inline-block;
  &.outline {
    background-color: transparent;
    color: $c_primary;
    &:hover {
      background-color: $c_primary;
      color: #fff;
    }
  }
  &.gray {
    background-color: #f5f5ff;
    color: $c_primary;
    border-color: #f5f5ff;
    @include padding(12px 100px);
    &:hover {
      background-color: $c_primary;
      color: #fff;
      border-color: $c_primary;
    }
  }
  &:hover {
    background-color: transparent;
    color: $c_primary;
  }
}
