@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;
section {
  @include padding(150px 0 0 0);
  position: relative;
  z-index: 3;
}

.section-heading {
  @include margin-bottom(40px);
}

.section-heading h2 {
  @include margin-bottom(20px);
  @include font-size(24px);
}

.section-heading p {
  margin-bottom: 0;
}
.danger {
  color: #f4001e;
}
