@use "../helpers/vars" as *;
@use "../bootstrap/vendor/rfs" as *;
@use "../helpers/mixins" as *;
.our-partners {
  @include padding-bottom(150px);
  .swiper-slide {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  img {
    max-width: 200px;
  }
}
