mixin slide()
  .slider__item
    .container
      .row
        .col-md-6.d-flex.flex-column.justify-content-center.order-2.order-md-1
          h2.slider__item-title Hire experts or be hired for any job, any time.
          p.slider__item-content Welcome to the home of UK startup jobs! Join amazing tech startup teams with a mission to change the world. Pick a category to start your job search today!
          a.btn.btn-primary.px-5.btn-py(href="#") Apply Now
          |
          |
          .row
            .col-md-4
              .slider__item-stats
                img(src="assets/images/home/jobs-posted.svg")
                .slider__item-stats-figure
                  h3 21K
                  span Jobs Posted
            .col-md-4
              .slider__item-stats
                img(src="assets/images/home/companies.svg")
                .slider__item-stats-figure
                  h3 399
                  span Companies
            .col-md-4
              .slider__item-stats
                img(src="assets/images/home/jobs-posted.svg")
                .slider__item-stats-figure
                  h3 300K
                  span Job Seekers
        .col-md-6.order-1.order-md-2
          .slider__item-image
            img(src="assets/images/home/slider-image.svg")