//-
	- Main navbar
// Navbar
nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.py-4
	.container
		a.navbar-brand(href='index.html')
			div.navbar-brand__box
				img(src="assets/images/logo.svg" class="img-fluid" alt="JOBSLDN Website")
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#main-menu' aria-controls='main-menu' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#main-menu.collapse.navbar-collapse
			ul.navbar-nav.ml-auto
				li.nav-item(class=activePage == 'home' ? 'active' : '')
					a.nav-link(href='index.html') Home
						span.sr-only (current)
				li.nav-item(class=activePage == 'jobs' ? 'active' : '')
					a.nav-link(href='jobs.html') Jobs
				li.nav-item(class=activePage == 'dynamicPage' ? 'active' : '')
					a.nav-link(href='dynamic-page.html') Dynamic Page
				li.nav-item(class=activePage == 'contacts' ? 'active' : '')
					a.nav-link(href='contacts.html') Contacts
				button.btn.btn-outline-primary.px-4(data-toggle="modal" data-target="#modalLoginForm") Login / Register
// navbar-end
