$c_primary: #2923ff;
$c_section: #f2f2f2;
$c_heading: #1d1d1b;
$c_text: #9f9f9f;

$xxl: "max-width: 1399px";
$xl: "max-width: 1199px";
$lg: "max-width: 991px";
$md: "max-width: 768px";
$sm: "max-width: 576px";
