@use "../helpers/vars" as *;
@use "../bootstrap/vendor/rfs" as *;
@use "../helpers/mixins" as *;

.discover {
  @include padding(70px 0);
  h2 {
    line-height: normal;
  }
  background-color: $c_section;
  @include media ($lg) {
    .row {
      row-gap: 20px;
    }
  }
  .discover-form {
    .select2-container {
      width: 100% !important;
    }

    .col-button {
      width: 10%;
      @include media ($lg) {
        width: 100%;
        .button {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
