.featured-jobs {
  &__job {
    position: relative;
    border: 1px solid $primary;
    padding: 1rem;
    border-radius: .25rem;
    transition: border .3s ease-in-out, background .3s ease-in-out;

    img {
      width: 17.5px;
      margin-right: .5rem;
    }

    &-bookmark {
      cursor: pointer;
      position: absolute;
      right: 1rem;
      top: 1rem;
      z-index: 2;

      img {
        width: 22px;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      font-size: .85rem;

      div {
        margin-bottom: 1rem;

        .period {
          display: block;
          text-align: right;
          margin-top: 0.5rem;
          font-size: 1rem;
          font-style: italic;
        }
      }
    }

    &-action {
      opacity: 0;
      background: $grey;
      height: 0;
      padding: 0;
      overflow: hidden;
      transition: all .3s ease-in-out;

      .btn {
        margin-bottom: 1rem;
      }
    }

    &:hover {
      border: none;
      background: $grey;


      &+.featured-jobs__job-action {
        opacity: 1;
        height: auto;
        padding-top: .5rem;
        padding-bottom: .5rem;

        @include responsive(atMedium) {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }
    }

    &-employer {
      opacity: .9;
      margin-bottom: .5rem;
      display: block;
    }

    &-title {
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }
  }
}