@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

.call-to-action {
  @include padding(50px 0 0 0 );
  overflow: hidden;
  @include media ($lg) {
    @include padding(50px  0 );
    text-align: center;
  }
  background-color: $c_section;
  img {
    max-width: 561.01px;
    transform: translateY(10px);
  }
  .button {
    @include margin-top(60px);
  }
}
